<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add Theatre</title>
</head>
<body>

<h1>Add a New Theatre</h1>

<form action="/addtheatre" method="post">
    <label>Name:</label>
    <input type="text" name="theatreName" required><br><br>

    <label>Location:</label>
    <input type="text" name="location" required><br><br>

    <label>Total Screens:</label>
    <input type="number" name="totalScreens" required><br><br>

    <button type="submit">Add Theatre</button>
</form>

<br><br>

<a href="/theatre">View All Theatres</a><br>
<a href="/index.html">Back to Home</a>

</body>
</html>