<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Seat</title>
</head>
<body>
    <h1>Add a New Seat</h1>

    <form action="/seats/add" method="post">
        Seat Number: <input type="text" name="seatNumber" required><br><br>
        Seat Type: <input type="text" name="seatType" required><br><br>
        Is Booked:
        <select name="isBooked">
            <option value="false">No</option>
            <option value="true">Yes</option>
        </select><br><br>
        Theatre:
        <select name="theatre.theatreId">
            {{#theatres}}
            <option value="{{theatreId}}">{{theatreName}}</option>
            {{/theatres}}
        </select><br><br>
        <button type="submit">Add Seat</button>
    </form>

    <br>
    <a href="/">Back to Home</a>
    <a href="/seats">View All Seats</a>
</body>
</html>