<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add Theatre</title>
</head>
<body>
    <h1>Add a New Theatre</h1>

    <form action="/addtheatre" method="post">
        Name: <input type="text" name="theatreName" required><br><br>
        Location: <input type="text" name="location" required><br><br>
        Total Screens: <input type="number" name="totalScreens" required><br><br>
        <button type="submit">Add Theatre</button>
    </form>

    <br>
    <a href="/index.html">Back to Home</a>
    <a href="/theatre">View All Theatres</a>
</body>
</html>