<!DOCTYPE html>
<html>
<head>
    <title>Add Movie</title>
</head>
<body>
<h1>Add a new movie</h1>

<form action="/addmovie" method="post">

    <label> ID: </label>
    <input type = "number" name = "id" >

    <label>Title:</label>
    <input type="text" name="title" >

    <label>Genre:</label>
    <input type="text" name="genre" >

    <label>Language:</label>
    <input type="text" name="language">

    <label>Duration (mins):</label>
    <input type="number" name="duration">

    <label>Rating:</label>
    <input type="text" name="rating">

    <label>Description:</label>
    <input type="text" name="description">

    <button type="submit">Add Movie</button>
</form>
<a href="/index.html">Back to Home</a>
</body>
</html>