<!DOCTYPE html>
<html>
<head>
    <title>Add Showtime</title>
</head>
<body>

<h2>Add Showtime</h2>

<form action="/addshowtime" method="post">

    Screen Number: <input type="text" name="screenNumber"><br>
    Show Date: <input type="text" name="showDate"><br>
    Show Time: <input type="text" name="showTime"><br>

    Movie:
    <select name="movie.id">
        {{#movies}}
        <option value="{{id}}">{{title}}</option>
        {{/movies}}
    </select><br>

    <button type="submit">Add Showtime</button>

</form>
<a href="/">Back to Home</a>
</body>
</html>