<!DOCTYPE html>
<html>
<head>
    <title>Showtimes</title>
</head>
<body>

<h2>Showtimes</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Movie</th>
        <th>Screen</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    {{#showtimes}}
    <tr>
        <td>{{showId}}</td>
        <td>{{movie.title}}</td>
        <td>{{screenNumber}}</td>
        <td>{{showDate}}</td>
        <td>{{showTime}}</td>
    </tr>
    {{/showtimes}}
</table>
<a href="/addshowtime">Add Showtime</a><br>
<a href="/">Back to Home</a>
</body>
</html>