<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Theatre Added</title>
</head>
<body>
    <h1>{{entityName}} added successfully!</h1>
    <a href="/theatre">View Theatres</a>
</body>
</html>