<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Theatres</title>
</head>
<body>
    <h1>All Theatres</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Total Screens</th>
        </tr>
        {{#theatres}}
        <tr>
            <td>{{theatreId}}</td>
            <td>{{theatreName}}</td>
            <td>{{location}}</td>
            <td>{{totalScreens}}</td>
        </tr>
        {{/theatres}}
    </table>

    <br>
    <a href="/">Back to Home</a>
    <a href="/addtheatre">Add New Theatre</a>
</body>
</html>